@{
    ViewData["Title"] = "Login";
}
<div class="container text-center">
    <form method="post">
        <button asp-controller="Auth" asp-action="RequestSpotifyUserAuthorization" class="btn-post">
            Login with Spotify
        </button>
    </form>
</div>
