:root {
    --rr-font: sans-serif;
    --poppins: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.app-title {
    text-align: center;
    display: block;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.playlist-imgs {
    flex: 1;
    max-width: calc(100% / 10);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.btn-post {
    font-family: var(--poppins);
    background-color: mistyrose;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-logout {
    font-family: var(--poppins);
    background-color: darkslategrey;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
